<!DOCTYPE html>
<html>
<head>
    <title>系统初始化</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/plugins/jquery-ui-1.10.3/css/sunny/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css" />

    <script src="/plugins/jquery-2.0.3/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="/plugins/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
</head>
<body>
    <h1>系统初始化完毕，<a href="/">点击返回</a></h1>
</body>
</html>
