<!DOCTYPE html>
<html>
<head>
    <title>给小孩选名字 - 登录</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/plugins/jquery-ui-1.10.3/css/sunny/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
</head>
<body>
    <h1>给小孩选名字 - 请先登录 （<a href="/admin">系统管理员由此进入</a>）</h1>
    <p>点击选择您的用户名</p>
    <div id="Voters">
            <% for (var i in voters) { %>
    		<% voter = voters[i] %>
                <a href="/<%=voter.displayName%>/vote" class="voter-button"><%=voter.displayName%></a>
            <% } %>
    </div>
    <script type="text/javascript">

        $(document).ready(function () {            
            $(".voter-button").button()
        });
    </script>
</body>
</html>
