body, #accordion, .force-font {
    padding: 50px;
    font-family: 'Microsoft YaHei', "Microsoft YaHei UI", Arial, sans-serif;
    font-size: medium;
}

a {
    color: #00B7FF;
}

.width-90 {
    width: 90%;
}

.operation-prompt {
    font-weight: 700;
}

.operation-input-container{
    margin: 15px;
}

.dangerous {
    color: red;
}
